body{
    background-color: rgb(81, 136, 81);
    display: flex;
    justify-content: center;
}

.container{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    border-radius: 50px;
    margin-top: 100px;
    border:3px solid rgb(22, 84, 23);
}
h1{
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 30px;
    line-height: 20px;
}
.plant-img{
    height: 100px;
    border:3px solid rgb(195, 176, 5);
    border-radius: 20px;
    animation: bounce infinite;
    margin-top: 20px;
}

.plant-img:hover{
    height: 150px;
    transition: all 0.5s ease-in-out;
    transition-delay: 2s;
}

.main-info{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    margin-top: 30px;
    margin-bottom: 10px;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;  
    margin-top: 30px;
    margin-bottom: 20px;
    color:rgb(22, 84, 23);
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
      }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

button{
    width: 100px;
    padding: 10px; 
    border-radius: 5px;
    border:none;
    background-color: rgb(195, 176, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px; 
    color:rgb(22, 84, 23);
}
button:hover{
    -webkit-filter: brightness(130%);
    background-color: rgb(81, 136, 81);
    transition: all 0.5s ease-in-out;
    width: 105px;
    animation-play-state:paused ;
}

